.container1 {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 100%;
    background-color: silver;
}

.component1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    /* width: 80%; */
    border-radius: 25px;
    background-color: white;
    box-shadow: 5px 10px grey;
    margin: 2%;
    padding: 3%;
}

select {
    width: 100%;
    padding: 10px;
    font-size: 15px;
    margin-top: 1%;
    margin-bottom: 1%;
}

.measurement_list {
    width: 100%;
    height: 5%;
    margin: 2% 0 5% 0;
}

.ingredient_list {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

.result_field {
    text-align: center;
    width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    margin-top: 1%;
    background-color: lightgrey;
    border-radius: 15px;
    font-weight: bold;
    font-size: 25px;
}

.component_header {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 3%;
}

.input_field {
    width: 100%;
    margin-bottom: 2%;
    margin-top: 2%;
}

input[type="number"]::-webkit-outer-spin-button, input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.unit_input {
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    margin-top: 1%;
    font-size: 15px;
}

.cups_list {
    margin-top: 2%;
    margin-bottom: 3%;
}